*{
    margin: 0;
    padding: 0;
}

html,body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7.5%;
    background-color: #cbda2a;
}
    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
        nav ul li {
            margin: 0 10px;
        }
            nav ul li a {
                text-decoration: none;
                color: #fff;
            }
                nav ul li a:hover {
                    color: #2a44d7;
                }

main {
    width: 100%;
    height: 92.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GAME CSS */
canvas {
    display: none;
}

/* LOGIN/REGISTER PAGE CSS */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

    section h1 {
        margin: 20px 0;
    }

    section form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
            #login form {
                width: 300px;
                height: 300px;
            }

            #register form {
                width: 300px;
                height: 400px;
            }

        section form input {
            width: 200px;
            height: 30px;
            margin: 10px 0;
            padding: 0 10px;
            border: 1px solid #cbda2a;
            border-radius: 5px;
        }

        section form button {
            width: 100px;
            height: 30px;
            margin: 10px 0;
            background-color: #cbda2a;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-size: 1rem;
        }

        section form button:hover {
            background-color: #2a44d7;
        }

        section form a {
            width: 100px;
            height: 30px;
            margin: 10px 0;
            background-color: #cbda2a;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        section form a:hover {
            background-color: #2a44d7;
        }

span {
    color: red;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* LEADERBOARD CSS */

#leaderBoard {
    width: 60%;
    height: 80%;
    background-color: rgb(42, 68, 215);
    overflow-y: scroll;
    justify-content: flex-start;
    /* scrollbar styling */
        &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(83, 83, 83, 0.07);
        background-color: #2a44d7;
        }
        &::-webkit-scrollbar {
        width: 7px;
        background-color: #2a44d7;
        }
        &::-webkit-scrollbar-thumb {
        background-color: #cbda2a;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #daec18;
            }
}
    #leaderBoard table{
        width: 100%;
        height: 100%;
        color: white;
    }

    #leaderBoard table thead, tbody {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    #leaderBoard table th, td, tr {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        padding: 3px 0;
    }

        #leaderBoard table tbody {
            width: 100%;
            flex-direction: column;
        }
            #leaderBoard table tbody tr{
                border-top: solid 1px #cbda2a;
            }

            #leaderBoard table tbody tr:last-of-type{
                border-bottom: solid 1px #cbda2a;
            }

   